/*fuente para el html*/ 
html {
	font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/*color de fondo*/
body {
	background-color: #9AD1ED;
}

/*contenedor central - medidad y formato*/
.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
}
/*margen superior*/
.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgb(115, 218, 56);
	margin-bottom: 1rem;
}

/*para el texto negrita plomo y tamaño*/
.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

/*cambia el h2 a naranja*/
h2 span {
	color: #F39B53;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*para la separacion de los botones*/
.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

/*botones*/
.input, .btn__remove, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

/*para cuando el input este activo*/
.input:focus {
	border-bottom: solid rgb(83, 243, 83) .2rem;
}


/*sobreescribimos las clases btn_remove - algunas propiedades*/
.btn__remove, .btn__reset {
	width: 30%;
	border-bottom: none;
	background-color: rgb(51, 190, 245);
	color: white;
}

.btn__reset {
	background-color: #EDA135;
}

/*al pasar el mouse por encima del boton*/
.btn__remove:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: rgb(238, 93, 36);
}